pyrogram
TgCrypto
py-tgcalls
python-dotenv
youtube_search_python==1.4.6
speedtest-cli
requests
aiohttp
aiofiles
asyncio
youtube_search
search_engine_parser
future
ffmpeg
Pillow
future
pyaml
psutil
bs4
psutil
wget
python-arq
httpx==0.13.3
heroku3
gitpython
pykeyboard
git+https://github.com/rakeshyt/PipeLine@master
git+https://github.com/rakeshyt/PipeLine2@master
